<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/photo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>IAmA Geek. Pythonista. Font freak. Tolkienian. OSS Lover. Suffering from OCD and Atheism.</p>
    <p>I write at <a href="http://itsmy.xyz" title="New Blog">itsmy.xyz</a> and <a href="https://medium.com/@abhnv">Medium</a>. Read my old abandoned <a href="http://abhnv.com/blog/" title="Old blog. Please don't read.">blog here</a>.

      <p>I also write
      <a href="http://abhnv.com/stories/" title="Read them here. There is just one, though.">Stories</a> and <a href="http://haikus.abhnv.com" title="Read them here">Haikus</a>.</p>
    <p>Tweets <a href="https://twitter.com/abhnvkmr">@abhnvkmr</a> Medium <a href="https://medium.com/@abhnv">@abhnv</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
