<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/photo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Geek. Polyglot. Developer. Tolkienian. Westerosi. Trekkie. Atheist. Loves Epic Fantasy & OSS. Open for Chats, Rants & Chants. Works@startup. Does everything.</p>
    <p>I write at <a href="https://medium.com/@abhnv">Medium</a> and <a href="https://dev.to/@abhinav">dev.to</a>. You can also read the posts at <a href="/blog/" title="Old blog. Please don't read.">archive here</a>.

      <p>I also write
      <a href="/stories/" title="Read them here. There are not much.">Stories</a>, <a href="/poems/" title="Read them here. There is just one, though.">Poems</a> and <a href="/haikus/" title="Read them here">Haikus</a>.</p>
    <p>Tweets <a href="https://twitter.com/abhnvkmr">@abhnvkmr</a> Medium <a href="https://medium.com/@abhnv">@abhnv</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
